$ns: '.carousel';

#{$ns} {
  &__container {
    position: relative;
  }

  &__arrows {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 10px;
    margin: 0 auto;
    height: 40px;

    @include breakpoint(md) {
      right: 30px;
      width: 1000px;
    }
  }

  &__prev, &__next {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    height: 32px;
    z-index: 1;
  }

  &__prev {
    right: 50px;
    transform: scaleX(-1);
  }
  &__next {
    right: 0;
  }

}

.slick-dots {
  bottom: 24px;
  z-index: 1;
}
.slick-dots li button:before {
  color: white;
  font-size: 13px;
  opacity: 1;
}
.slick-dots li button:hover {

}
.slick-dots li.slick-active button:before {
  color: $primary-color;
  opacity: 1;
}
