$ns: '.featured';

#{$ns} {
  margin-bottom: 80px;

  &__container {
    @include grid-container;
    margin: 0 auto;
    @include breakpoint(md) {
      width: 1000px;
    }
  }

  &__item {
    margin-bottom: 40px;
    @include grid-column(12);
    display: flex;
    flex-direction: column;
    @include breakpoint(md) {
      @include grid-column(4);
    }
  }

  &__image {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }

  &__heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    &--company {
      color: $white;
    }
    &--title {
      color: $secondary-color;
    }
  }

  &__description {
    color: $light-grey;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;

  }
}
