$ns: '.header';

#{$ns} {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  z-index: 10;

  &__container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    @include breakpoint(md) {
      width: 1000px;
    }
  }

  &__logo {
    text-transform: uppercase;
    font-weight: bold;
    color: $light-grey;
    font-size: 25px;
    font-family: $secondaryFont;
    margin-bottom: 10px;
  }

  &__nav {
    display: block;
    margin-bottom: 13px;
    &:before {
      content: '☰';
      color: $light-grey;
      font-size: 25px;
      position: absolute;
      top: 22px;
      right: 10px;
      cursor: pointer;
    }
    @include breakpoint(md) {
      display: block;
      &:before {
        display: none;
      }
    }
  }

  &__nav-item {
    display: none;
    font-weight: bold;
    user-select: none;

    @include breakpoint(md) {
      display: inline;
      margin-left: 2em;
    }
  }

  &__nav-item a {
    padding: 10px 50px;
    color: white;
    &:hover {
      color: $primary-color
    }
    @include breakpoint(md) {
      padding: 0;
    }
  }

  @include breakpoint(upToMd) {
    &__nav.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.9);
      width: 100%;
      height: 100%;
      padding-top: 60px;
      &:before {
        content: '✕';
        top: 10px;
      }
    }

    &__nav.open &__nav-item {
      display: block;
      margin-bottom: 2rem;
      font-size: 24px;
    }
  }


  &__buttons {
    background-color: #464646;
    margin-left: auto;
    margin-right: 20px;
    display: none;
    @include breakpoint(md) {
      display: flex;
    }
  }

  &__tweet-button {
    background-color: #464646;
    color: $secondary-color;
    font-weight: bold;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      display: block;
      height: 20px;
      margin-right: 10px;
      fill: $secondary-color;
    }
  }

  &__plus-button {
    background-color: $primary-color;
    width: 40px;
    height: 40px;
    color: $white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
