$ns: '.section-header';

#{$ns} {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 1px solid $dark-grey;
  margin: 20px;
  @include breakpoint(md) {
    width: 960px;
    margin: 20px auto;
  }

  &__heading {
    font-size: 22px;
    font-weight: bold;
    color: $light-grey;
  }

  & a {
    margin-left: 1rem;
    margin-bottom: 1px;
  }
}
