$primaryFont: "Arial", sans-serif;
$secondaryFont: "Impact", sans-serif;

body {
  font-size: 13px;
  font-family: $primaryFont;
  letter-spacing: -0.025em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@mixin heading-1 {
  font-size: 22px;
  font-weight: bold;
  @include breakpoint(md) {
    font-size: 36px;
  }
}
